%hgroup
  %h1 Hi, I'm Yale Spector.
  %h2
    I
    %br/
    f**king
    %br/
    %span.accent love
    %br/
    the 
    %br/
    Internet.

#skills
  %dl
    %dt
      <
      %span> html5
      >&nbsp;
      %span> css3
      {} and $(
      %span> jquery
      )
    %dd
      #{"//"} for kick ass user experience
    %dt
      #{"<%="} 
      %span ruby on rails
      #{"%>"}
    %dd  
      #{"//"} for kick ass agile development
    %dt  
      %span Drupal
    %dd  
      #{"//"} for kick ass content management
    %dt
      #{"<?"}
      %span> php
      #{" ?>"} and 
      %span MySQL
    %dd  
      #{"//"} because I pretty much have to

#contact
  %p
    %strong find me
    on
    = link_to "facebook", "http://facebook.com/yale.spector", :class => :facebook
    = link_to "http://linkedin.com/in/yalespector", :class => :linkedin do
      %span.linked Linked
      %span.in> in
    %br
    %strong call me
    on
    = link_to "skype", "skype:thebrokenlight?call", :class => :skype
    %br
    %strong mail me
    at
    = mail_to "yale.spector@gmail.com"

- content_for :style do
  :sass
    h2
      font-size: 55px
      line-height: 50px