%header
  %h1 
    I'm 
    %span.name Yale Spector
  %h2
    and I
    %span.accent love
    the Internet.

#skills
  .inner
    %h2 Here's how I roll. I use:
    %dl
      %dt
        <
        %span<>
          = link_to "html5", 'http://diveintohtml5.org/', :target => :blank
        >&nbsp;
        %span><
          = link_to "css3", "http://css3please.com/", :target => :blank
        {} and $(
        %span>< 
          = link_to "jquery", "http://jquery.com/", :target => :blank
        )
      %dd
        to design and code user interfaces
      %dt
        %span><
          = link_to "haml", 'http://haml-lang.com/', :target => :blank
        ,
        %span 
          = link_to "sass", "http://sass-lang.com/", :target => :blank
        and
        %span
          = link_to "compass", "http://compass-style.org/", :target => :blank
      %dd
        to do so rapidly
      %dt
        #{"<%="} 
        %span<
          = link_to "ruby", "http://tryruby.org/", :target => :blank
          on&nbsp;
          = link_to "rails", "http://railsforzombies.com/", :target => :blank
        #{"%>"}
        and
        %span 
          = link_to "git", 'http://railscasts.com/episodes/96-git-on-rails', :target => :blank
      %dd  
        to build awesome web applications
      %dt  
        %span 
          = link_to "Drupal", "http://drupal.org/", :target => :blank
      %dd  
        for content management, and
      %dt
        #{"<?"}
        %span>< 
          = link_to "php", "http://codeigniter.com/", :target => :blank
        #{" ?>"}
        and 
        %span 
          = link_to "MySQL", "http://mysql.com/", :target => :blank
      %dd  
        to hack at Drupal themes and modules.
