%hgroup
  %h1 Hi, I'm Yale.
  %h2
    I f*cking
    %br/
    %span.accent love
    %br/
    the 
    %br/
    Internet.

#skills
  %dl
    %dt
      <
      %span> html5
      >&nbsp;
      %span> css3
      {} and $(
      %span> jquery
      )
    %dd
      #{"//"} for kick ass user experience
    %dt
      #{"<%="} 
      %span ruby on rails
      #{"%>"}
    %dd  
      #{"//"} for kick ass agile development
    %dt  
      %span Drupal
    %dd  
      #{"//"} for kick ass content management
    %dt
      #{"<?"}
      %span> php
      #{" ?>"} and 
      %span MySQL
    %dd  
      #{"//"} because I pretty much have to
      
- content_for :style do
  :sass
    h2
      font-size: 55px
      line-height: 50px
    #skills
      height: 181px
      margin-top: -171px
      margin-left: 290px
      padding-left: 70px
      background: url(../../images/left-bracket.png) left no-repeat
      dl
        color: #707070
        dt
          span
            color: #a7a7a7
        dd
          margin-bottom: 16px