- title "Project"
%p
  %strong Name:
  = @project.name
%p
  %strong Year:
  = @project.year
%p
  %strong Description:
  = @project.description
%p
  = link_to "Edit", edit_project_path(@project)
  |
  \#{link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete} |
  \#{link_to "View All", projects_path}
