#contact
  = mail_to "yale.spector@gmail.com", "email", :class => 'icons-email-32'
  = link_to "facebook", "http://facebook.com/yale.spector", :class => 'icons-facebook-32', :target => :blank
  = link_to "twitter", "http://twitter.com/yalespector", :class => 'icons-twitter-32', :target => :blank
  = link_to "linkedin", "http://linkedin.com/in/yalespector", :class => 'icons-linkedin-32', :target => :blank
  = link_to "skype", "skype:thebrokenlight?call", :class => 'icons-skype-32'
  = link_to "github", "http://github.com/yale", :class => 'icons-github-32', :target => :blank
  = link_to "reddit", "http://reddit.com/user/thebrokenlight", :class => 'icons-reddit-32', :target => :blank
  %p
    It's great to meet you! Find me around.